<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account - Buster Bike</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'privacy/style.css' %}"/>
</head>
<body>
    <div class="container">
        <h1>How to Delete Your Account</h1>
        <ol>
            <li>Login to the Buster Bike app</li>
            <li>Go to the <strong>"Profiel"</strong> Page</li>
            <li>Press the <strong>"Verwijder account"</strong> button</li>
            <li>Press the <strong>"Ik weet het zeker"</strong> button</li>
        </ol>
    </div>
</body>
</html>
